<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" class="w-64">
    <mat-toolbar color="primary">
      <span>Menu</span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of sideBarItems" [routerLink]="item.url" (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        {{item.label}}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="flex align-items-center h-auto">
    <button mat-icon-button (click)="sidenav.toggle()" class="ml-auto">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="flex-grow-1 flex justify-content-center">
      <img src="../../../../assets/Rick-and-Morty.png" alt="Rick and Morty" class="w-20rem h-auto logo-hover"
        (click)="navigateToList()">
    </div>
  </mat-toolbar>

  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
