<div class="flex flex-column p-2">
  <h3>Search</h3>
  <mat-form-field>
    <mat-label>Search characters by name</mat-label>
    <input type="text" matInput [formControl]="searchInput" (input)="searchCharacter()" [matAutocomplete]="auto" />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectedOption($event)">
      <mat-option *ngFor="let character of characters" [value]="character">
        {{ character.name }}
      </mat-option>
      <mat-option *ngIf="notFoundCharacters" value="">
        No characters found with the name {{ searchInput.value }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  {{ selectedCharacter | json}}
</div>
